body {
  --brand: var(--brand);
  --green: #00a385;
  --blue: #145dbb;
  color: #2e3d3b;
  font-family: "Montserrat", sans-serif;
  background-color: brand-color;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}
/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/
main {
  background-color: #faf8f8;
  min-height: 45rem;
  padding: 0.5rem 1rem;
  line-height: 1.8;
}
main p img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767.98px) {
  main {
    padding: 4rem 1rem;
    font-size: 0.9rem;
    color: #000;
  }
}

@media (min-width: 768px) {
  main {
    padding: 4rem 3rem;
  }
}

@media (min-width: 992px) {
  main {
    padding: 4rem 8rem;
  }
}
@media (min-width: 1200px) {
  main {
    padding: 4rem 8rem;
  }
}

.Mars #gal .num,
.Metanit.Lureks #gal .num,
.Khlopok.Akril #gal .num,
.Viskoza #gal .num,
.Каталог.изделий #gal .num {
  visibility: hidden;
}

main h2:first-child {
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #006e5a;
}
.Beecnye.Masiny img {
  float: right;
  padding-left: 1rem;
}

.contact .info {
  border-top: 3px solid var(--brand);
  border-bottom: 3px solid var(--brand);
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: var(--brand);
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #006e5a;
}

.contact .info p {
  padding: 0 0 1px 4rem;
  margin-bottom: 0.9rem;
  font-size: 14px;
  color: #6182ba;
}

.contact form {
  width: 100%;
  border-top: 3px solid var(--brand);
  border-bottom: 3px solid var(--brand);
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact form .form-group {
  padding-bottom: 8px;
}
.contact form button[type="submit"] {
  background: var(--green);
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact form button[type="submit"]:hover {
  background: var(--green);
}
