<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-contact">
          <img alt="da-mir" src="/images/damir-logo-mic-kare.png" />
          <p>
            Москва, ул. Амурская,  <br />
            9/6, стр. 6, м Черкизовская<br />
            м Щелковская <br /><br />
            <strong><i class="bi bi-telephone-fill"></i></strong><br />
            +7 (495) 22-66-017<br />
            +7 (926) 240-43-11<br />
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-links text-center">
          <h4>самые популярные</h4>
          <ul class="text-center">
            <li><i class="bi bi-chevron-right"></i> <a href="/katalog/">Каталог</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/katalog-izdeliy">Каталог изделий</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/oborudovanie/krutilnye-masiny/">Крутильные машины</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/oborudovanie/ploskovazalnye-masiny-stoll/">Плосковязальные машины Stoll</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/o-trikotaznoi-fabrike/">О трикотажной фабрике</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-links text-end">
          <h4>Наши Социальные Сети</h4>
          <p>Следите за нами в социальных сетях</p>
          <div class="social-links mt-3">
            <a href="https://www.linkedin.com/company/damir-textile/" target="_blank" rel="noopener" class="linkedin"><i class="bi bi-linkedin"></i></a>
             <a href="https://t.me/damir_tekstile_yarn" target="_blank" rel="noopener" class="linkedin"> <i class="bi bi-telegram"></i>
            
          </div>
          <a href="https://cixing.ru/" rel="noopener" target="_blank" > <abbr title="CIXING RUSSIA нажми для деталей"><img alt=" CIXING RUSSIA "  src="/images/cixing-m.png" class="mt-4"></abbr><a/>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; <strong><span>Дамир текстиль 2021</span></strong>
    </div>
  </div>
</footer>
