<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  {{ $bootstrap := resources.Get "css/bootstrap.min.css"}}
  {{ $custom   := resources.Get "css/style.css"}}
  {{ $css := slice $bootstrap $custom  | resources.Concat "css/bundle.css" | resources.PostCSS | resources.Minify}}
  <link rel="stylesheet" href="{{- $css.RelPermalink -}}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  {{ if eq .LinkTitle "Партнеры" }}  
  {{ $carousel   := resources.Get "css/own-carousel.min.css"}}
  {{ $carouselClean   := $carousel | resources.PostCSS }}
  <link href="{{- $carouselClean.RelPermalink -}}" rel="stylesheet" />
  {{end}}
  <title>{{ .Page.Title }}  </title>
  <meta name="description" content="{{ .Page.Description | plainify}}">
  <link rel="canonical" href="{{.Permalink}}">
  <meta property="og:image" content="{{.Site.BaseURL}}images/da-mir-site.webp"/>
  <meta property="og:image:url" content="{{.Site.BaseURL}}images/da-mir-site.jpg"/>
  <meta property="og:locale" content="ru_RU">
  <meta property="og:site_name" content="Дамир Текстиль">
  <meta property="og:longitude" content="37.7688543"/>
  <meta property="og:latitude" content="55.810854"/>
  <meta property="og:street_address" content="ул. Амурская 9/6"/>
  <meta property="og:region" content="Москва"/>
  <meta property="og:country_name" content="Russia"/>
  <meta property="og:phone_number" content="+7 (495) 542-78-47"/>
  {{ template "_internal/opengraph.html" . }}
</head>
