/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content {
  word-spacing: 0.3em;
  line-height: 1.8;
}
.about .content strong {
  letter-spacing: 0.2rem;
}

.about .content ul {
  list-style: disc;
  padding: 1rem;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}
