#header {
  background: #ffffffcf;
  transition: all 0.5s;
  z-index: 997;
}
.navbar .dropdown-menu {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown-item {
  padding: 0.66rem 1.33rem;
  text-transform: none;
  font-weight: 500;
}
