<section id="partners" class="py-5">
  <h2 class="text-center">Наши партнеры</h2>
  <div class="own-carousel__container">
    <div class="own-carousel__outer">
      <div class="own-carousel">
        {{ range .Site.Data.partners.partners }}

        <div class="own-carousel__item">
          <article class="card">
            <a target="_blank" rel="noopener" href="{{ .site }}"><img src="{{ .logo }}" class="card-img-top img-thumbnail" alt="{{ .name }}" /></a>
            <div class="card-body">
              <div class="card-title h5"><a target="_blank" rel="noopener" href="{{ .site }}">{{ .name }}</a></div>
              <div class="card-text">{{ .desc | safeHTML }}</div>
            </div>
          </article>
        </div>
        {{ end }}
      </div>
      <br />
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector(".own-carousel__container").ownCarousel({
      itemPerRow: 5,
      itemWidth: 19,
      autoplay: 1500,
      responsive: {
        1400: [4, 24],
        1200: [3, 32],
        992: [2, 49],
      },
    });
    responsive();
  });
</script>
