<div class="contact">
<div class="row">
  <div class="col-lg-6 d-flex align-items-stretch">
    <div class="info">
      <div class="email">
        <i class="bi bi-envelope"></i>
        <h4 class="mb-4">е-мейл</h4>
         <a href="mailto:info@da-mir.ru"><img src="/images/info.png" alt="info" ></a> 
        <p>По вопросам покупки и обслуживания оборудования</p>
         <a href="mailto:sale@da-mir.ru"><img src="/images/sale.png" alt="sale"></a> 
        <p>По вопросам сервиса, запчастей, пряжи.</p>
         <a href="mailto:sale2@da-mir.ru"><img src="/images/sale2.png" alt="sale2"></a> 
        <p>По вопросам размещения заказов на Трикотажной фабрике</p>
         <a href="mailto:account@da-mir.ru"><img src="/images/account.png" alt="account"></a> 
        <p>Бухгалтерия Дамир Текстиль</p>
      </div>
      <div class="phone">
        <i class="bi bi-phone"></i>
        <h4>ТЕЛЕФОН</h4>
        <p>
          <a href="tel:+74952266017">+7 (495) 22-66-017</a>
        </p>
        <p>
           <a href="tel:+79262404311">+7 (926)  240-43-11</a>
        </p>

      </div>
      <div class="address">
        <i class="bi bi-geo-alt"></i>
        <h4>АДРЕС</h4>
        <p>Москва, ул. Амурская, 9/6, стр. 6, м Черкизовская / м Щелковская</p>
        <a href="https://goo.gl/maps/Up2ow4STf2P2" class="my-3">Открыть в Google карте</a>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
    <form name="contact" method="POST" data-netlify="true">
      <h4>ОБРАТНАЯ СВЯЗЬ</h4>
      <div class="form-group">
        <label for="inputName">Имя</label>
        <input id="inputName" type="text" class="form-control" name="name" placeholder="Ваше Имя">
      </div>
      <div class="form-group">
        <label for="inputMail">E-mail</label>
        <input type="email" class="form-control" name="email" id="inputMail" aria-describedby="emailHelp" placeholder="электронная почта">
        <small id="emailHelp" class="form-text text-muted">Мы никогда не будем делиться вашей электронной почтой ни с кем другим.</small>
      </div>
      <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea class="form-control" name="message" rows="10" required="" placeholder="Сообщение *"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
    </form>
  </div>
</div>
<div class="row">
  <p class="mt-4"><iframe allowfullscreen="" frameborder="0" height="554" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.9232401112977!2d37.76977731593284!3d55.811932980569146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b534ebeb32d7b3%3A0xcf6122638ab41abd!2sAmurskaya+ul.%2C+9%2F6%2C+Moskva%2C+g.+Moskva%2C+Rusya%2C+107241!5e0!3m2!1str!2str!4v1453984762454" style="border:0" width="100%"></iframe></p>
</div>
</div>


