<div class="row">
    <div class="col-lg-5 d-flex align-items-stretch">
    <div class="info">
      <div class="address">
        <i class="bi bi-geo-alt"></i>
        <h4>АДРЕС:</h4>
        <p>Москва, ул. Амурская, 9/6, стр. 6, м Черкизовская / м Щелковская</p>
      </div>

      <div class="email">
        <i class="bi bi-envelope"></i>
        <h4>е-мейл:</h4>
        <p>info@example.com</p>
      </div>

      <div class="phone">
        <i class="bi bi-phone"></i>
        <h4>Call:</h4>
        <p>+1 5589 55488 55s</p>
      </div>

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" style="border: 0; width: 100%; height: 290px" allowfullscreen="" frameborder="0"></iframe>
    </div>
  </div>
<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
<form name="contact" method="POST" data-netlify="true">
     <div class="form-group">
        <label for="inputName">Имя</label>
        <input id="inputName" type="text" class="form-control" name="name"  >

    </div>
    <div class="form-group">
      <label for="inputMail">E-mail</label>
      <input type="email" class="form-control"  name="email" id="inputMail" aria-describedby="emailHelp" placeholder="anton@compani.com">
      <small id="emailHelp" class="form-text text-muted">Мы никогда не будем делиться вашей электронной почтой ни с кем другим.</small>
    </div>
    <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea class="form-control" name="message" rows="10" required=""></textarea>
    </div>

    <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
  </form>
 </div>
</div>

  