<link rel="stylesheet" href="/css/glightbox.min.css" />

<div id="gal">
  {{ $galCode :=  slicestr (md5  (.Get "dir")) 2 6 }}
  {{- with (.Get "dir") -}}
   {{- $files := readDir (print "/static/" .) }} 
   {{- range $files -}} 
    {{- $imageUrl := print ($.Get "dir") "/" .Name | relURL }} 
    {{- $thumbUrl := print ($.Get "dir") "/th/" .Name | relURL }}
    {{ $fileName := (strings.TrimSuffix ".jpg" .Name) }} 
     {{ if ne $fileName "th" }}
        <a href="{{- $imageUrl -}}" class="g{{- $galCode -}}" 
        data-gallery="g{{-  $galCode -}}"  data-title="{{ humanize  $fileName }}">
          <img src="{{- $thumbUrl -}}" alt="{{ humanize  $fileName }}" />
          <div class="num text-center">{{ humanize  $fileName }}</div>
        </a>
     {{ end }} 
   {{- end }} 
  {{- end }}
</div>

<script src="/js/glightbox.min.js"></script>
<script>
  var lightbox = GLightbox();
  lightbox.on("open", (target) => {});
  var lightboxInlineIframe = GLightbox({
    selector: ".g{{- $galCode -}}",
  });
</script>
